@{
    ViewData["Title"] = "Create Order Detail Page";
}
<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Update Order Detail</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <form action="" method="" enctype="multipart/form-data">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="Qty"><b>Qty</b></label>
                            <input type="date" class="form-control" id="Qty" placeholder="Insert Qty">
                        </div>
                    </div>
                </form>
                <div class="">
                    <a href="" type="submit" class="btn btn-primary">Send</a>
                    <a href="/OrderDetail/Index" class="btn btn-warning">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</section>