<!-- ===== Awal Paket Aqiqah ===== -->
        <section id="Paket-Aqiqah">
            <div class="container">
                <div class="row mt-4">
                    <div class="col Judul">
                        <h4>Paket Aqiqah</h4>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3 col-6">
                        <div class="card h-100 image text-center">
                            <a href="Product/Details"><img src="~/Template/assets/kambing1.png" class="card-img-top"
                                    alt="..."></a>
                            <h4>Paket Platinum</h4>
                            <p>250 Porsi</p>
                            <h5>Rp 3.850.000</h5>
                            <div class="col mb-3 mt-2">
                                <a href="Product/Details" class="btn btn-detail">Lihat Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="card h-100 image text-center">
                            <a href="Product/Details"><img src="~/Template/assets/kambing1.png" class="card-img-top"
                                    alt="..."></a>
                            <h4>Paket Gold</h4>
                            <p>200 Porsi</p>
                            <h5>Rp 3.000.000</h5>
                            <div class="col mb-3 mt-2">
                                <a href="Product/Details" class="btn btn-detail">Lihat Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="card h-100 image text-center">
                            <a href="Product/Details"><img src="~/Template/assets/kambing1.png" class="card-img-top"
                                    alt="..."></a>
                            <h4>Paket Gold</h4>
                            <p>250 Porsi</p>
                            <h5>Rp 2.500.000</h5>
                            <div class="col mb-3 mt-2">
                                <a href="Product/Details" class="btn btn-detail">Lihat Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="card h-100 image text-center">
                            <a href="Product/Details"><img src="~/Template/assets/kambing1.png" class="card-img-top"
                                    alt="..."></a>
                            <h4>Paket Bronze</h4>
                            <p>80 Porsi</p>
                            <h5>Rp 1.850.000</h5>
                            <div class="col mb-3 mt-2">
                                <a href="Product/Details" class="btn btn-detail">Lihat Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ===== Akhir Paket Aqiqah ===== -->

        <!-- ===== Awal Paket Nasi ===== -->
        <section id="Paket-Nasi">
            <div class="container">
                <div class="row mt-4">
                    <div class="col Judul">
                        <h4>Paket Nasi</h4>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3 col-6">
                        <div class="card h-100 image text-center">
                            <a href="Product/Details"><img src="~/Template/assets/nasibox1.jpg" class="card-img-top"
                                    alt="..."></a>
                            <h4>Paket Hemat</h4>
                            <p>50 Porsi</p>
                            <h5>Rp 650.000</h5>
                            <div class="col mb-3 mt-2">
                                <a href="Product/Details" class="btn btn-detail">Lihat Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="card h-100 image text-center">
                            <a href="Product/Details"><img src="~/Template/assets/nasibox1.jpg" class="card-img-top"
                                    alt="..."></a>
                            <h4>Paket Spesial Ayam</h4>
                            <p>50 Porsi</p>
                            <h5>Rp 1.000.000</h5>
                            <div class="col mb-3 mt-2">
                                <a href="Product/Details" class="btn btn-detail">Lihat Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="card h-100 image text-center">
                            <a href="Product/Details"><img src="~/Template/assets/nasibox1.jpg" class="card-img-top"
                                    alt="..."></a>
                            <h4>Paket Spesial Daging</h4>
                            <p>50 Porsi</p>
                            <h5>Rp 1.500.000</h5>
                            <div class="col mb-3 mt-2">
                                <a href="Product/Details" class="btn btn-detail">Lihat Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="card h-100 image text-center">
                            <a href="Product/Details"><img src="~/Template/assets/nasibox1.jpg" class="card-img-top"
                                    alt="..."></a>
                            <h4>Paket Istimewa</h4>
                            <p>50 Porsi</p>
                            <h5>Rp 2.850.000</h5>
                            <div class="col mb-3 mt-2">
                                <a href="Product/Details" class="btn btn-detail">Lihat Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ===== Akhir Paket Nasi ===== -->