@{
    ViewData["Title"] = "Create User Order Child";
}
<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Create User Order Child</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <form action="" method="" enctype="multipart/form-data">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="Name"><b>Name</b></label>
                            <input type="text" class="form-control" id="Name" placeholder="Insert Name">
                        </div>
                        <div class="form-group">
                            <label for="Gender"><b>Gender</b></label>
                            <input type="text" class="form-control" id="Gender" placeholder="example@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="FatherName"><b>Father Name</b></label>
                            <input type="text" class="form-control" id="FatherName" placeholder="Enter Father Name">
                        </div>
                        <div class="form-group">
                            <label for="MotherName"><b>Mother Name</b></label>
                            <input type="text" class="form-control" id="MotherName" placeholder="Enter MotherName">
                        </div>
                        <div class="form-group">
                            <label for="DoB"><b>DoB</b></label>
                            <input type="date" class="form-control" id="DoB" placeholder="Enter DoB">
                        </div>
                        <div class="form-group">
                            <label for="PlaceOfBirth"><b>Place Of Birth</b></label>
                            <input type="text" class="form-control" id="PlaceOfBirth" placeholder="Enter PlaceOfBirth">
                        </div>
                        <div class="form-group">
                            <label for="FileName"><b>Image</b></label>
                            <input type="file" class="form-control" id="FileName" placeholder="Enter FileName">
                        </div>
                        <div class="form-group">
                            <label for="Notes"><b>Notes</b></label>
                            <input type="text" class="form-control" id="Notes" placeholder="Enter Notes">
                        </div>
                    </div>
                </form>
                <div class="">
                    <a href="" type="submit" class="btn btn-primary">Send</a>
                    <a href="/UserOrderChild/Index" class="btn btn-warning">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</section>\\