@{
    ViewData["Title"] = "Order Delivery";
}
<!-- Striped rows start -->
<section class="section">
    <div class="row" id="table-striped">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Order</h4>
                    <a href="/OrderDelivery/Create" class="btn btn-primary">Create New Order Delivery</a>
                </div>
                <div class="card-content">
                    <!-- table striped -->
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr class="text-center">
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Area</th>
                                    <th>Delivery Date</th>
                                    <th>Estimate Hour</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-bold-500">Michael Right</td>
                                    <td>$15/hr</td>
                                    <td class="text-bold-500">UI/UX</td>
                                    <td>Remote</td>
                                    <td>Austin,Taxes</td>
                                    <td class="text-center">
                                        <a href="/OrderDelivery/Update" class="btn btn-primary">Update</a>
                                        <a href="/OrderDelivery/Detail" class="btn btn-warning">Detail</a>
                                        <a href="/OrderDelivery/Delete" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Striped rows end -->