@{
    ViewData["Title"] = "Update Order Delivery Page";
}
<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Update Order Delivery</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <form action="" method="" enctype="multipart/form-data">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="Address"><b>Address</b></label>
                            <input type="text" class="form-control" id="Address" placeholder="Insert Address">
                        </div>
                        <div class="form-group">
                            <label for="City"><b>City</b></label>
                            <input type="text" class="form-control" id="City" placeholder="Insert City">
                        </div>
                        <div class="form-group">
                            <label for="Area"><b>Area</b></label>
                            <input type="text" class="form-control" id="Area" placeholder="Enter Area">
                        </div>
                        <div class="form-group">
                            <label for="DeliveryDate"><b>Delivery Date</b></label>
                            <input type="date" class="form-control" id="DeliveryDate" placeholder="Enter Delivery Date">
                        </div>
                        <div class="form-group">
                            <label for="EstimateHour"><b>Estimate Hour</b></label>
                            <input type="text" class="form-control" id="EstimateHour" placeholder="Enter Estimate Hour">
                        </div>
                    </div>
                </form>
                <div class="">
                    <a href="" type="submit" class="btn btn-primary">Send</a>
                    <a href="/OrderDelivery/Index" class="btn btn-warning">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</section>