<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artikel Aqiqah Salman</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <script src="https://kit.fontawesome.com/d23477193c.js" crossorigin="anonymous"></script>
    <style> body { background-color: azure;}</style>
</head>
<body>
    <h1>Rumah Aqiqah Salman </h1> 
        <div class="container">
            <div class="row mt-3">
                <div class="col-4">
                    <div class="card" style="width: 21rem;">
                        <img class="card-img-top" src="./assets/img2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"> <a href="http://google.com" class="card-link">Promo Aqiqah Salman 1</a> </h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        </div>
                      </div>
                    <div class="col-4">
                        <div class="card" style="width: 21rem;">
                            <img class="card-img-top" src="./assets/img2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"> <a href="http://youtube.com" class="card-link">Promo Aqiqah Salman 2</a> </h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                        </div>
                    <div class="col-4">
                    <div class="card" style="width: 21rem;">
                        <img class="card-img-top" src="./assets/img2.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title"> <a href="http://gmail.com" class="card-link">Promo Aqiqah Salman 3</a> </h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                    </div>
            </div>
        </div>


    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.slim.min.js"></script>
</body>
</html>